# Ignore directories
/public/admin/
/public/assets/
/public/build/
/public/productimage/
/public/storage/
/public/vendor/

# Ignore specific files
/public/*.htaccess
/public/favicon.ico
/public/robots.txt
/public/*.php
/public/*.html

# Ignore environment files
.env
.env.example

# Ignore node_modules and vendor
/node_modules/
/vendor/

# Ignore log files and other unnecessary stuff
*.log
